# Normalize text files
* text=auto

# Shell scripts must use LF
*.sh text eol=lf
mvnw text eol=lf

# Windows scripts must use CRLF
*.cmd text eol=crlf
*.bat text eol=crlf
mvnw.cmd text eol=crlf

# Source files
*.css text eol=lf
*.html text eol=lf
*.java text eol=lf
*.js text eol=lf
*.json text eol=lf
*.md text eol=lf
*.sql text eol=lf
*.xml text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.emf text
*.emfatic text
*.evl text
*.etl text
*.egl text
*.egx text
*.eol text
*.xmi text
*.model text
*.flexmi text

# Binary files
*.jar binary
*.zip binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
